@media screen and (min-width: 500px) {

    /* header */
    header {
        min-height: 160px;
    }

    .logo img {
        width: 130px;
        height: auto;
    }

    .logo h1 {
        font-size: 4rem;
    }

    .logo p {
        font-size: 2rem;
    }

    .navigation {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
    }

    #hamburger {
        display: none;
    }

    /* main */
    main {
        width: 60%;
    }

    /* call to action */
    .hero {
        min-height: 600px;
    }

    .hero a {
        top: 47%;
        right: 27%;
        font-size: 2rem;
        width: 350px;
        padding: 1rem;
    }

    .welcome {
        min-height: 160px;
    }

    /* home layout */
    .home-layout {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
        min-height: 4100px;
    }

    .recipe-cards {
        min-height: 500px;
    }

    .recipe-cards img,
    .recipe-cards button {
        margin: 0.5rem;
    }

    .flex-div {
        display: flex;
        align-items: center;
    }

    /* form */
    .form-layout {
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 1rem;
    }

    form {
        width: 100%;
    }

    form input[type="submit"] {
        width: 50%;
    }

    /* footer */
    footer {
        min-height: 130px;
        display: flex;
        padding: 0.5rem 4rem;
        justify-content: space-between;
        align-items: center;
    }

    .footinfo {
        text-align: right;
    }
}