@media screen and (min-width: 500px) {
    /* header */
    header{
        min-height: 150px;
    }
    
    .logo img {
        width: 130px;
        height: auto;
    }

    .logo h1 {
        font-size: 4rem;
    }

    .logo p {
        font-size: 2rem;
    }

    .navigation {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
    }

    #hamburger {
        display: none;
    }

    /* main */
    main {
        max-width: 1200px;
        min-height: 470px;
    }

    /* call to action */
    .hero a {
        top: 60%;
        right: 15%;
        font-size: 1.7rem;
        font-weight: 700;
    }

    /* main content */
    .main-content {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
    }

    .main-content section {
        margin-bottom: 0;
    }

    /* weather */
    .weatherInfo {
        padding: 1.5rem 0 0 0.5rem;
    }

    /* spotlights */
    .spotlights {
        display: flex;
        justify-content: space-between;
    }

    .spotlights section {
        width: 32%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        min-height: 1800px;
    }

    .cards section,
    .spotlights section {
        margin-bottom: 0;
    }

    .list {
        display: flex;
        gap: 0;
        min-height: 650px;
    }

    .list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        padding: 1rem;
    }

    /* form */
    .join-layout {
        display: flex;
        justify-content: space-around;
        min-height: 1200px;
    }

    form {
        width: 500px;
    }

    /* results */


    #results{
        width: 70%;
    }

    /* membership levels */
    .level-options{
        gap: 3rem;
    }
    
    .level-options section{
        width: 450px;
    }

    /* dialog */
    dialog{
        top: 20%;
    }

    /* footer */
    footer {
        min-height: 130px;
        display: flex;
        padding: 0.5rem 4rem;
        justify-content: space-between;
        align-items: center;
    }

    .footinfo {
        text-align: right;
    }
}