@media screen and (min-width: 641px) {

    /* discover */
    .item-cards {
        min-height: 2800px;
    }

    .item-cards section {
        grid-template-areas:
            "name name"
            "photo desc"
            "photo address"
            "button button"
        ;
    }

    .item-cards img:hover {
        box-shadow: 0 0 50px #333;
    }
}