* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    --primary-color: #1F5A29;
    --secondary-color: #9AE1AF;
    --accent-color: #F8FABE;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

header,
main,
footer {
    max-width: 100%;
    overflow: hidden;
}

/* header */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 0;
    text-align: center;
    display: flex;
    align-items: center;
}

header img {
    width: 90px;
    height: auto;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
}

header span {
    font-weight: 450;
    font-size: 2rem;
}

/* navigation */

.navigation a:hover{
    background-color: var(--primary-color);
    color: white;
}

.navigation.open {
    display: flex;
}

.navigation a {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: black;
    margin: 0 4rem;
}

.navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
}

.active{
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
}

/* hamburger button */
#hamburger {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open::before {
    content: "✖";
}

/* main */
main {
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.layout {
    display: block;
}

h2 {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: white;
}

.layout section {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.course li {
    padding: 0.5rem 0.25rem;
    margin-left: 2rem;
}

.place figure {
    margin: 1rem;
    text-align: center;
}

.place img {
    max-width: 100%;
    height: auto;
}

.place figcaption {
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    max-width: 100%;
    border-bottom: 1px solid var(--primary-color);
}

.filters button {
    padding: 10px 40px;
    max-width: 30%;
    margin: 0.5rem;
}

.filters button:hover {
    background-color: black;
    color: white;
}

.card-layout {
    display: block;
    margin: 1rem;
}

.card {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.card h3 {
    text-align: center;
}

.completed {
    background-color: var(--secondary-color);

}

.not-completed {
    background-color: var(--accent-color);
}

.certificate p {
    font-weight: bold;
    padding: 1rem;
}

/* footer */
footer {
    background-color: var(--secondary-color);
    padding: 1rem 0;
}

footer p {
    text-align: center;
    font-size: 1.2rem;
}

footer img {
    border: 1px solid var(--accent-color);
}